<div class="mat-elevation-z0">
  <!-- search section -->
  <section class="search">
    <mat-form-field>
      <input matInput (keyup)="onFilter($event.target.value)" [placeholder]="config.filterBarPlaceholder">
    </mat-form-field>
  </section>
  <!-- list section -->
  <section class=list>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container [matColumnDef]="column.value", *ngFor="let column of columns">
        <div *ngIf="column.sortable">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.title }} </mat-header-cell>
        </div>
        <div *ngIf="!column.sortable">
          <mat-header-cell *matHeaderCellDef> {{ column.title }} </mat-header-cell>
        </div>
        <mat-cell *matCellDef="let element" (click)="onClickRow.emit(element)"> {{ getItem(element, column.value) }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
  <!-- pagination section -->
  <section *ngIf="config.pagination">
    <mat-paginator #paginator [pageSize]="config.pageSize" [pageSizeOptions]="config.pageSizeOptions"></mat-paginator>  
  </section>
</div>
